<div data-bind="foreach: blocks">
    <h4 data-bind="text:name" style="color: #337ab7; margin-bottom:10px"></h4>
    <div data-bind="template: templateName, sizeToContainer: true"></div>
</div>
<a href="#" id="downloadLink" style="position:absolute;top:0;left:0;width:0;height:0;display: none;"></a>

