<div class="container-fluid">
    <div class="vertical-layout">
        <div class="vertical-fill" style="position: relative;width:100%">
            <!-- ko with: gridOptions --><!-- ko template: template --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>