<div class="input-group date" data-bind="datepicker: value">
    <input type="text" class="form-control input-sm" readonly="readonly" style="background-color: white; cursor: pointer" data-bind="textInput: value" />
    <a class="input-group-addon"><i class="fa fa-calendar"></i></a>
</div>
