<div class="form-horizontal" data-bind="foreach:properties, css: { 'hidden-validation-messages': isValidationMessagesHidden }">
    <!-- ko if: isVisible -->
        <!-- ko template: 'shared/propertyEditor' --><!-- /ko -->
    <!-- /ko -->
</div>
