@*<div style="position: relative; top: 0; left: 0; bottom: 10px; right: 0">
    <div data-bind="slickgrid: rows, slickgridConfig: config, sizeToContainer: true"></div>
</div>*@

<div style="position: relative; top: 0; left: 0; bottom: 10px; right: 0">
    <div data-bind="dxDataGrid: options, sizeToContainer: true" id="dxTable"></div>
</div>
<a href="#" id="downloadLink" style="position:absolute;top:0;left:0;width:0;height:0;display: none;"></a>