<div>
    <div class="checkbox">
        <label>
            <input class="checkbox" type="checkbox" data-bind="checked:privateOnly" />
            Только пользовательские
        </label>
    </div>
</div>
<div style="height: 500px;overflow-y:auto" data-bind="template: { name: 'shared/tree' }">
</div>
