<div class="mstk-loader-backdrop" data-bind="visible: isBusy"></div>
<div class="mstk-loader center-align" data-bind="visible: isBusy">
    <div class="panel panel-body panel-default">
        <img src="@Url.Content("~/images/spinner.gif")" alt="Подождите..." /> Подождите, пожалуйста...
    </div>
</div>
