<style>
    .container-fluid {
        height: 100%;
    }

    .grid-btn {
        font-size: 16px;
        margin-left: 5px;
    }

    .control-buttons {
        text-align: center;
    }
</style>
<div class="container-fluid">
    <div class="vertical-layout">
        <div class="vertical-fill" style="position: relative">
            <!-- ko with: data --><!-- ko template: template --><!-- /ko -->
            <!-- /ko -->
        </div>

        @*<div data-bind="with: pager" class="pager-container">
            <!-- ko template: 'pager'-->
            <!-- /ko -->
        </div>*@
    </div>
</div>
