<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="mstk:DocumentsFolder" value=""/>
  <add key="domainName" value=""/>
  <add key="domainUser" value=""/>
  <add key="domainUserPwd" value=""/>

  <add key="BuildType" value=""/>

  <!--no rights error page-->
  <add key="NoRightsErrorPage" value="~/AccessDenied.html"/>

  <!--authorization-->
  <add key="TraceClaims" value="0"/>
  <add key="RoleClaimType" value="http://schemas.microsoft.com/ws/2008/06/identity/claims/role"/>
  <add key="EmailClaimType" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"/>
  <add key="OperatorRole" value=""/>
  <add key="AnalystRole" value=""/>
  <add key="ManagerRole" value=""/>
  <add key="AdminRole" value=""/>
  <add key="ManagersDesktopAnyRole" value=""/>
  <add key="MasterDataAnyRole" value=""/>
  <add key="RegistryAnyRole" value=""/>
  <add key="mstk-operators:title" value=""/>
  <add key="mstk-analysts:title" value=""/>
  <add key="mstk-managers:title" value=""/>
  <add key="mstk-admins:title" value=""/>

  <add key="Roles.ManagersDesktop.Admins" value=""/>
  <add key="Roles.ManagersDesktop.Analysts" value=""/>
  <add key="Roles.ManagersDesktop.Managers" value=""/>
  
  <add key="Roles.Mdm.Admins" value=""/>
  <add key="Roles.Mdm.Operators" value=""/>

  <add key="DisplayNameClaimType" value=""/>
  <add key="MapDictionaryCode" value=""/>
  <add key="OUClaimType" value=""/>
  <add key="OGRNClaim" value=""/>
  <add key="OUType" value="0"></add>
  <add key="ApplicationRolePrefix" value=""/>

  <!--links-->
  <add key="UserGuide-Admin" value="~/download/Руководство пользователя_Монитор_АРМ Администратора.docx"/>
  <add key="UserGuide-Manager" value="~/download/Руководство пользователя_Монитор_АРМ Руководителя.docx"/>
  <add key="UserGuide-Operator" value="~/download/Руководство пользователя_Монитор_АРМ Оператора.docx"/>
  <add key="UserGuide-Analyst" value="~/download/Руководство пользователя_Монитор_АРМ Аналитика.docx"/>
  <add key="WidgetGuide" value="~/download/%D0%9F%D0%B0%D0%BC%D1%8F%D1%82%D0%BA%D0%B0%20%D0%BF%D0%BE%20%D1%84%D0%BE%D1%80%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E%20%D0%B2%D0%B8%D0%B4%D0%B6%D0%B5%D1%82%D0%BE%D0%B2.docx"/>
  <add key="ManagersDesktopUrl" value=""/>
  <add key="MasterDataUrl" value=""/>
  <add key="RegistryUrl" value=""/>
  <add key="ExitUrl" value=""/>
  <add key="ExitRedirect" value=""/>
  <add key="MSTKUrl" value=""/>

  <!-- названия схем БД -->
  <add key="Schema:Default" value=""/>
  <add key="Schema:FileStorage" value=""/>
  <add key="Schema:MasterData" value=""/>
  
  <!-- Flexmonster -->

  <!--<add key="FlexMonster:ProxyUrl" value="https://mstk-proxy-dev.asutk.ru/FlexmonsterProxy"/>-->
  <add key="FlexMonster:ProxyUrl" value="https://mstk-mn-test.asutk.ru:443/"/>
  <add key="FlexMonster:LicenceKey" value="Z7QW-XC940Q-0F5616-5W4I42"/>
  <!--<add key="FlexMonster:LicenceKey" value="Z7O9-XI8B41-5G2L3U-0G0V3Q-5W4N1X-1B455K-0K4P5R-4Q5T6Q-1L063R-6E6D"/>-->
  
  <!--ссылка на контракт в мфцп-->
  <!--для demo - вместо https://upp-dev.asutk.ru/ подставить https://upp-demo.asutk.ru/ -->
  <add key="contractMfcpUrl"
       value=""/>

</appSettings>

