<?xml version="1.0"?>
<system.diagnostics>
  <sources>
    <source name="MSTK" switchName="Common">
      <listeners>
        <clear />
        <add name="file" />
      </listeners>
    </source>
    <source name="MSTK.DAL" switchName="Common">
      <listeners>
        <clear />
        <add name="file" />
      </listeners>
    </source>
    <source name="MSTK.DAL.CONNECTIONS" switchName="Tracing">
      <listeners>
        <clear />
        <add name="file" />
      </listeners>
    </source>
    <source name="MSTK.WEB" switchName="Common">
      <listeners>
        <clear />
        <add name="file" />
      </listeners>
    </source>
  </sources>
  <switches>
    <add name="Common" value="All" />
    <add name="Tracing" value="Information" />
  </switches>
  <sharedListeners>
    <add name="file"
         type="Mintrans.Mstk.TextFileTraceListener, Mintrans.Mstk.Core"
         initializeData="Mintrans.Mstk.log" />
  </sharedListeners>
  <trace autoflush="true" indentsize="4">
    <listeners>
    </listeners>
  </trace>
</system.diagnostics>
