<?xml version="1.0"?>
<system.identityModel>
  <identityConfiguration>
    <audienceUris>
      <add  />
    </audienceUris>
    <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
      <authority >
        <keys>
          <add  />
        </keys>
        <validIssuers>
          <add  />
        </validIssuers>
      </authority>
    </issuerNameRegistry>
  </identityConfiguration>
</system.identityModel>
