<?xml version="1.0"?>
<initialRedirect>
  <add key="mstk-admins" value="~/watch" />
  <add key="mstk-managers" value="~/watch" />
  <add key="mstk-analysts" value="~/watch" />
  <add key="mstk-operators" value="~/watch" />
	<add key="bi_analysis" value="~/indicators" />
	<add key="bi_analysis_admin" value="~/indicators" />
</initialRedirect>


