<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="PerRequest" type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />

  <alias alias="ConnectionStringName" type="Mintrans.Mstk.Data.ConnectionStringNameResolver, Mintrans.Mstk.Data"/>

  <assembly name="Mintrans.Asutk.Common" />
  <assembly name="Mintrans.Asutk.UnityContainer" />
  <assembly name="Mintrans.Mstk.Core" />
  <assembly name="Mintrans.Mstk.Data" />
  <assembly name="Mintrans.Mstk.Data.Oracle" />

  <namespace name="Mintrans.Mstk" />
  <namespace name="Mintrans.Mstk.Data" />
  <namespace name="Mintrans.Mstk.Data.Models" />
  <namespace name="Mintrans.Mstk.Data.Oracle" />

  <container>

    <register type="Mintrans.Asutk.Diagnostics.ILogger, Mintrans.Asutk.Common"
              mapTo="Mintrans.Asutk.Diagnostics.TraceSourceLogger, Mintrans.Asutk.Common">
      <constructor>
        <param name="name" value="MSTK"/>
      </constructor>
    </register>

    <register type="Mintrans.Asutk.Diagnostics.ILogger, Mintrans.Asutk.Common"
                  mapTo="Mintrans.Asutk.Diagnostics.TraceSourceLogger, Mintrans.Asutk.Common" name="MSTK.DAL">
      <constructor>
        <param name="name" value="MSTK.DAL"/>
      </constructor>
    </register>

    <register type="Mintrans.Asutk.Diagnostics.ILogger, Mintrans.Asutk.Common"
                  mapTo="Mintrans.Asutk.Diagnostics.TraceSourceLogger, Mintrans.Asutk.Common" name="MSTK.DAL.CONNECTIONS">
      <constructor>
        <param name="name" value="MSTK.DAL.CONNECTIONS"/>
      </constructor>
    </register>

    <register type="Mintrans.Asutk.Diagnostics.ILogger, Mintrans.Asutk.Common"
              mapTo="Mintrans.Asutk.Diagnostics.TraceSourceLogger, Mintrans.Asutk.Common" name="MSTK.WEB">
      <constructor>
        <param name="name" value="MSTK.WEB"/>
      </constructor>
    </register>

    <register type="Mintrans.Mstk.ISecurityContext, Mintrans.Mstk.Core"
              mapTo="Mintrans.Mstk.Data.Oracle.Security, Mintrans.Mstk.Data.Oracle">
      <lifetime type="PerRequest"/>
    </register>

    <register type="ICacheService" mapTo="Mintrans.Mstk.MemoryCacheService, Mintrans.Mstk.Core"/>
    <register type="IDocumentStore" mapTo="Mintrans.Mstk.Data.DocumentFileStore, Mintrans.Mstk.Data"/>
    <register type="IMemberExportService" mapTo="Mintrans.Mstk.Data.Export.MemberExportService, Mintrans.Mstk.Data.Export"/>
    <register type="Mintrans.Mstk.IUserService, Mintrans.Mstk.Core" mapTo="Mintrans.Mstk.Data.UserService, Mintrans.Mstk.Data"/>

    <!-- Dapper version -->
    <register type="Mintrans.Mstk.Data.IConnectionFactory, Mintrans.Mstk.Data"
              mapTo="Mintrans.Mstk.Data.Oracle.OracleConnectionFactory, Mintrans.Mstk.Data.Oracle">
      <constructor>
        <param name="nameOrConnectionString" value="Oracle"/>
      </constructor>
    </register>

    <register type="IAccessControlService" mapTo="Mintrans.Mstk.Data.Oracle.AccessControlService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IAnalyticPanelService" mapTo="Mintrans.Mstk.Data.Oracle.AnalyticPanelService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IClassificatorService" mapTo="Mintrans.Mstk.Data.Oracle.ClassificatorService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IDimensionMemberService" mapTo="Mintrans.Mstk.Data.Oracle.DimensionMemberService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IDimensionService" mapTo="Mintrans.Mstk.Data.Oracle.DimensionService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IDimMemberKitService" mapTo="Mintrans.Mstk.Data.Oracle.DimMembersKitService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IFavoriteIndicatorService" mapTo="Mintrans.Mstk.Data.Oracle.FavoriteIndicatorService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IFavoriteMemberService" mapTo="Mintrans.Mstk.Data.Oracle.MemberLiteService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IFileStorageService" mapTo="Mintrans.Mstk.Data.Oracle.FileStorageService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IIndicatorDefinitionService" mapTo="Mintrans.Mstk.Data.Oracle.IndicatorDefinitionService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberClassificatorService" mapTo="Mintrans.Mstk.Data.Oracle.MemberClassificatorService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberDimensionService" mapTo="Mintrans.Mstk.Data.Oracle.MemberDimensionService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberFileService" mapTo="Mintrans.Mstk.Data.Oracle.MemberFileService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberLiteService" mapTo="Mintrans.Mstk.Data.Oracle.MemberLiteService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberPeriodService" mapTo="Mintrans.Mstk.Data.Oracle.MemberPeriodService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberPermissionsService" mapTo="Mintrans.Mstk.Data.Oracle.MemberPermissionsService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberValueService" mapTo="Mintrans.Mstk.Data.Oracle.MemberValueService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberValueLogService" mapTo="Mintrans.Mstk.Data.Oracle.MemberValueLogService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IOUService" mapTo="Mintrans.Mstk.Data.Oracle.OUService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IOrgUnitService" mapTo="Mintrans.Mstk.Data.Oracle.OrgUnitService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IPeriodService" mapTo="Mintrans.Mstk.Data.Oracle.PeriodService, Mintrans.Mstk.Data.Oracle"/>
    <register type="ISourceSystemService" mapTo="Mintrans.Mstk.Data.Oracle.SourceSystemService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IUnitOfMeasureService" mapTo="Mintrans.Mstk.Data.Oracle.UnitOfMeasureService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IExportService" mapTo="Mintrans.Mstk.Data.Oracle.ExportService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberFormulaService" mapTo="Mintrans.Mstk.Data.Oracle.MemberFormulaService, Mintrans.Mstk.Data.Oracle" />

    <register type="IWidgetBlockService" mapTo="Mintrans.Mstk.Data.Oracle.WidgetBlockService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IWidgetService" mapTo="Mintrans.Mstk.Data.Oracle.WidgetService, Mintrans.Mstk.Data.Oracle"/>

    <register type="IImportConfigurationService" mapTo="Mintrans.Mstk.Data.Oracle.ImportConfigurationService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IImportCampaignService" mapTo="Mintrans.Mstk.Data.Oracle.ImportCampaignService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IImportService" mapTo="Mintrans.Mstk.Data.Oracle.ImportService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IImportMappingService" mapTo="Mintrans.Mstk.Data.Oracle.ImportMappingService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IActionLogService" mapTo="Mintrans.Mstk.Data.Oracle.ActionLogService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IMemberViewStatService" mapTo="Mintrans.Mstk.Data.Oracle.MemberViewStatService, Mintrans.Mstk.Data.Oracle"/>
	  <register type="IAnalyticsService" mapTo="Mintrans.Mstk.Data.Oracle.AnalyticsService, Mintrans.Mstk.Data.Oracle"/>
    <register type="IActionLogValuesFormatterService" mapTo="Mintrans.Mstk.Data.Oracle.ActionLogValuesFormatterService, Mintrans.Mstk.Data.Oracle"/>

  </container>
</unity>
